{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'greetingcard.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="main"></div>
<script>
var myArray = [];
    $(document).ready(function(){
    $.get("http://127.0.0.1:8000", function(data, status){
        myArray = JSON.parse(data)
                var div_string= "", index;
            for (index=0; index < myArray.length; index++){
                console.log(myArray[index])
                div_string += "<div class='card'> <div class='title'> <h4>" + myArray[index].message + "</h4><p> (message)</p></div>"+"<div class='description'><h4> " + myArray[index].name + "</h4><p> (name)</p></div></div>";
            }
            document.getElementById("main").innerHTML = div_string;
        });
    });
</script>
</body>
</html>